@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
ul,ol,li {
	list-style: none;
}
a {
	text-decoration: none;
}

.vidGallery, .vidGallery2{
	width:100%; 
	padding:100px; 
	border: 1px solid red;
	 
	article{
		width:100%; 
		border:1px solid #ccc; 
		padding:30px; 
		margin-bottom:30px; 
		display:flex; 
		justify-content:space-between; 
		flex-wrap:wrap; 

		a{
			width:30%; 
			img{ width:100%; }
		}
		.con{
			width:65%; 
		}
	}
}

.pop {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,.9);
	top: 0px; 
	left: 0px;
	padding: 5vw;

	iframe {
		width: 100%; 
		height: 100%;
	}

	span {
		position: absolute; top: 50px; right: 50px; color: #fff; cursor: pointer;
	}
}