@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
ul,ol,li {
	list-style: none;
}
a {
	text-decoration: none;
}

#vidGallery{
	width:100%; 
	padding:100px; 
	 
	article{
		width:100%; 
		border:1px solid #ccc; 
		padding:30px; 
		margin-bottom:30px; 
		display:flex; 
		justify-content:space-between; 
		flex-wrap:wrap; 

		a{
			width:30%; 
			img{ width:100%; }
		}
		.con{
			width:65%; 
		}
	}
}